version: '3.9'
services:
  mongo:
    image: mongo:6
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./backend
    restart: unless-stopped
    environment:
      - NODE_ENV=production
      - PORT=5000
      - MONGOURI=mongodb+srv://wael:wa455378@cluster0.l0ehghk.mongodb.net/?appName=Cluster0
      - JWT_SECRET=sddakoks45542dsdjawjdclhhdl
    depends_on:
      - mongo
    ports:
      - "5000:5000"

  frontend:
    build:
      context: ./frontend
      args:
        - NEXT_PUBLIC_API_BASE_URL=http://localhost:5000
    restart: unless-stopped
    environment:
      - NODE_ENV=production
      - PORT=3000
      - NEXT_PUBLIC_API_BASE_URL=http://localhost:5000
    depends_on:
      - backend
    ports:
      - "3000:3000"

volumes:
  mongo-data:

